<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>{{ page_title | escape }}</title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <a class="skip-to-content-link" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'header' %}

    <main id="MainContent" class="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
      {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>